<!-- app/views/users/registrations/new.html.erb -->
<div class="signup-page">
<h2 class="signup-title">Sign Up</h2>
<% if resource.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= pluralize(resource.errors.count, "error") %> prohibited this account from being saved:</h4>
    <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="signup-field">
      <%= f.label :name, class: "signup-label" %><br />
      <%= f.text_field :name, autofocus: true, class: "signup-input" %>
    </div>

    <div class="signup-field">
      <%= f.label :email, class: "signup-label" %><br />
      <%= f.email_field :email, class: "signup-input", placeholder: "johndoe@tamu.edu" %>
    </div>

    <div class="signup-field">
      <%= f.label :password, class: "signup-label" %> <em class="signup-hint">(minimum 8 characters)</em><br />
      <%= f.password_field :password, class: "signup-input" %>
    </div>

    <div class="signup-field">
      <%= f.label :password_confirmation, class: "signup-label" %><br />
      <%= f.password_field :password_confirmation, class: "signup-input" %>
    </div>

    <div class="signup-actions">
      <%= f.submit "Sign up", class: "signup-button" %>
    </div>
<% end %>
<div class="signup-links">
<%= render "devise/shared/links" %>
</div>
</div>