<%# app/views/bulletin_posts/_form.html.erb %>

<%= form_with(model: bulletin_post) do |form| %>
  <% if bulletin_post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bulletin_post.errors.count, "error") %> prohibited this bulletin_post from being saved:</h2>

      <ul>
        <% bulletin_post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, rows: 5, class: "form-textarea" %>
    </div>

 <!-- <div>
    <%= form.check_box :active %>
    <%= form.label :active %>
  </div> -->

  <div class="form-actions">
      <%= form.submit "Post", class: "board-submit-btn" %>
    </div>
<% end %>