<%# app/views/bulletin_posts/index.html.erb %>

<p style="color: green"><%= notice %></p>
<% user_signed_in = true%>
<% content_for :title, "Bulletin posts" %>

<h1>Bulletin</h1>

<%= form_with(url: bulletin_posts_path, method: :get, local: true) do |form| %>
  <div>
    <%= form.label :query, "Search by title or description:" %>
    <%= form.text_field :query, value: params[:query] %>
    <%= form.submit "Search" %>
  </div>
<% end %>
<br>

<% if params[:query].present? %>
  <h2>Search results for: "<%= params[:query] %>"</h2>
<% end %>

<div id="bulletin_posts">
  <% @bulletin_posts.each do |bulletin_post| %>
    <%= render bulletin_post %>
    <p>
      <%= link_to "Detail", bulletin_post %>
    </p>
  <% end %>
</div>

<% if user_signed_in %>
  <%= link_to "New bulletin post", new_bulletin_post_path, class: "btn btn-primary" %>
<% else %>
  <%= link_to "Log in to create a post", new_user_session_path, class: "btn btn-secondary" %>
<% end %>