<%# app/views/bulletin_posts/index.html.erb %>

<p style="color: green"><%= notice %></p>
<% user_signed_in = true%>
<% content_for :title, "Bulletin posts" %>

<h1>Bulletin</h1>

<% if user_signed_in? %>
  <%= form_with url: bulletin_posts_path, method: :get, local: true do |f| %>
    <%= f.text_field :query, placeholder: "Search posts..." %>
    <%= f.submit "Search" %>
  <% end %>
  <%= link_to "Create Post", new_bulletin_post_path, class: "btn btn-primary" %>
<% else %>
  <p><%= link_to "Log in", new_user_session_path %> to search or create posts.</p>
<% end %>

<ul>
  <% @bulletin_posts.each do |post| %>
    <li>
      <strong><%= post.title %></strong><br>
      <%= post.description.truncate(100) %>
    </li>
  <% end %>
</ul>