<%= form_with(model: teaching_offer) do |form| %>
  <% if teaching_offer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(teaching_offer.errors.count, "error") %> prohibited this teaching_offer from being saved:</h2>

      <ul>
        <% teaching_offer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.label :student_cap, style: "display: block" %>
    <%= form.number_field :student_cap %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
