<%= form_with(model: teaching_offer) do |form| %>
  <% if teaching_offer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(teaching_offer.errors.count, "error") %> prohibited this teaching_offer from being saved:</h2>

      <ul>
        <% teaching_offer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div class="form-group">
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-input" %>
    </div>

    <div class="form-group">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, rows: 5, class: "form-textarea" %>
    </div>


  <div>
    <%= form.label :student_cap, style: "display: block" %>
    <%= form.number_field :student_cap %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
