<div id="<%= dom_id teaching_offer %>">
  <p>
    <strong>Title:</strong>
    <%= teaching_offer.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= teaching_offer.description %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= teaching_offer.active %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= teaching_offer.author_id %>
  </p>

</div>
