<div id="<%= dom_id teaching_offer %>">
  <p>
    <strong>Title:</strong>
    <%= teaching_offer.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= teaching_offer.description %>
  </p>

  <p>
    <strong>Cap:</strong>
    <%= teaching_offer.student_cap %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= teaching_offer.offer_status %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= teaching_offer.author.name %>
  </p>

</div>
