<% if teaching_offers.count == 0%>
  <% if temp_current_user == @user%>
    <div class="profile-placeholder">
      <%= image_tag "plus-svgrepo-com.svg", class: "small-icon", alt: "" %>
      <%= link_to "Create a teaching offer to get started.", new_teaching_offer_path, class:"link"%>
    </div>
  <% else %>
    <div><%= @user.name %> has no teaching offers.</div>
  <% end %>
<% end %>

<% teaching_offers.each do |teaching_offer| %>
  <%= link_to teaching_offer_path(teaching_offer), class:"link" do %>
    <div class="info-card">
      <h3><%= teaching_offer.title %></h3>
      <p><%= teaching_offer.description %></p>
    </div>
  <% end %>
<% end %>
